.chat-side
  .chat-side__header
    .chat-side__header__box
      .chat-side__header__box__user-name
        you
      .chat-side__header__box__icons
        .chat-side__header__box__icons__edit-user
        = link_to "#" do
          =icon('fas', 'edit')
        .chat-side__header__box__icons__new-group
        = link_to "#" do
          =icon('fas', 'cog')
  .chat-side__groups
    .group__group-name
      xxxxxx
    .group__latest-message
      まだありません
    .group__group-name
      xxxxxx
    .group__latest-message
      まだありません
    .group__group-name
      xxxxxx
    .group__latest-message
      まだありません
    .group__group-name
      xxxxxx
    .group__latest-message
      まだありません
